ErrorDocument 404 /error/404.html
ErrorDocument 403 /error/403.html

<IfModule mod_rewrite.c>
	RewriteEngine On
	RewriteBase /

	#
	#	TODO: Add your custom rules here.
	#

	# Error rules
	RewriteCond %{REQUEST_FILENAME} !-d
	RewriteCond %{REQUEST_FILENAME} !-f
	RewriteRule ^error/([0-9]+)\.html$ /router.php?controller=error&action=_$1 [L,QSA]

	# Default rules

	# Controller alone
	RewriteCond %{REQUEST_FILENAME} !-d
	RewriteCond %{REQUEST_FILENAME} !-f
	RewriteRule ^([^/]+)\.html$ /router.php?controller=$1 [L,QSA]

	# Controller, with action
	RewriteCond %{REQUEST_FILENAME} !-d
	RewriteCond %{REQUEST_FILENAME} !-f
	RewriteRule ^([^/]+)/([^/]+)\.html$ /router.php?controller=$1&action=$2 [L,QSA]
	
	# Controller, action and id of target
	RewriteCond %{REQUEST_FILENAME} !-d
	RewriteCond %{REQUEST_FILENAME} !-f
	RewriteRule ^([^/]+)/([^/]+)/([^/]+)$ /router.php?controller=$1&action=$2&id=$3 [L,QSA]

	# Default controller
	#
	#	TODO: Replace the following with your favorite default controller.
	#
	RewriteRule ^$ base.html [L,QSA]
</IfModule>