#
#	Project EmeRails - Codename Ocarina
#
#	Copyright (c) 2008, 2015 Claudio Procida
#	http://www.emeraldion.it
#
#

language: php

php:
- 5.5
- 5.6
- nightly

addons:
  apt:
    packages:
    - doxygen

script: make test
