/**
 *                                   _ __
 *   ___  ____ ___  ___  _________ _(_) /____
 *  / _ \/ __ `__ \/ _ \/ ___/ __ `/ / / ___/
 * /  __/ / / / / /  __/ /  / /_/ / / (__  )
 * \___/_/ /_/ /_/\___/_/   \__,_/_/_/____/
 *
 * (c) Claudio Procida 2008-2024
 *
 * @format
 */

html {
  background: #fff url('/assets/images/gradient_azure.png') repeat-x 0 0;
  height: 100%;
  margin: 0;
  padding: 0;
}
body {
  background: transparent url('/assets/images/emerails_logo.png') no-repeat bottom right;
  font-family: 'Lucida Grande', 'Trebuchet MS', sans-serif;
  height: 100%;
  margin: 0;
  padding: 0;
}
#main_content {
  margin: auto;
  padding: 50px 0 0;
  width: 800px;
}
h1 {
  border-bottom: 1px solid #eee;
  color: #333;
  padding-bottom: 0.25em;
}
#footer {
  margin: 150px auto 0;
  text-align: center;
}
a:link,
a:visited {
  color: #090;
}
a:hover,
a:active {
  color: #f90;
}

fieldset.debug {
  border: 2px dashed #ccc;
  border-radius: 4px;
}

legend.debug {
  color: #444;
  font-size: 0.8rem;
}
