/** @format */

html {
	padding: 0;
	margin: 0;
	height: 100%;
	background: #fff url('/assets/images/gradient_azure.png') repeat-x 0 0;
}
body {
	padding: 0;
	margin: 0;
	font-family: 'Lucida Grande', 'Trebuchet MS', sans-serif;
	height: 100%;
	background: transparent url('/assets/images/emerails_logo.png') no-repeat bottom right;
}
#main_content {
	width: 800px;
	padding: 50px 0 0;
	margin: auto;
}
h1 {
	color: #333;
	padding-bottom: 0.25em;
	border-bottom: 1px solid #eee;
}
#footer {
	margin: 150px auto 0;
	text-align: center;
}
a:link,
a:visited {
	color: #090;
}
a:hover,
a:active {
	color: #f90;
}
